body {
  color: #fff;
  background: #0d1320;
  overflow: hidden;
}
#timer {
  text-align: center;
  font-size: 40vh;
  font-weight: bold;
  line-height: 56vh;
  color: #e2ecfd;
}
#date {
  margin-top: 100px;
  text-align: center;
  font-size: 16vh;
  font-weight: bold;
  color: #e2ecfd;
}
